@page "/viewWarehauseDetails/{Id}"
@attribute [Authorize]
@inject IWarehauseDetailsService WarehauseDetailsService
@inject IWarehauseService WarehauseService
@inject ILaundryServiceService LaundryServiceService
@inject ILaundryServiceDetailsService LaundryServiceDetailsService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

@if (SpinnerVisible == true)
{
    <SfSpinner Visible="true" Type="@SpinnerType.Bootstrap4" Size="100" Label="Data loading"></SfSpinner>
}
@if (Warehause != null)
{
    <center><h5>@Warehause.Name nr @Warehause.WarehauseNumber</h5></center>
}

<SfGrid @ref="warehauseDetailGrid" DataSource="@WarehauseDetails" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Toolbar="Toolbaritems">
    <SfToolbar Width="500">
        <ToolbarItems>
            <ToolbarItem Text="Back" Type="ItemType.Button" HtmlAttributes="@Item1" CssClass="moveButton"></ToolbarItem>

        </ToolbarItems>
    </SfToolbar>
    <GridEvents OnToolbarClick="ToolbarClickHandler" RowSelected="RowSelectHandler" OnActionBegin="ActionBeginHandler" CommandClicked="OnCommandClicked" TValue="WarehauseDetail"></GridEvents>
    <GridPageSettings PageSize="10" PageCount="5" PageSizes="@pagerDropdown"></GridPageSettings>
    <GridFilterSettings Mode="Syncfusion.Blazor.Grids.FilterBarMode.Immediate" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
    <GridEditSettings Mode="EditMode.Dialog" AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn AllowAdding="false" AllowEditing="false" Width="0" IsPrimaryKey="true" Field=@nameof(WarehauseDetail.Id) HeaderText="Id"></GridColumn>
        <GridColumn Field="@nameof(WarehauseDetail.HotelLinenType)" HeaderText="Description">
            <EditTemplate>
                <span>Type</span>
                <SfDropDownList TItem="string" TValue="Models.Type"
                                @bind-Value="@((context as WarehauseDetail).HotelLinenType)"
                                DataSource="@LinenTypesEnumValues">
                </SfDropDownList>
            </EditTemplate>
        </GridColumn>
        <GridColumn Field="@nameof(WarehauseDetail.HotelLinenName)" HeaderText="Description"></GridColumn>
        <GridColumn Field=@nameof(WarehauseDetail.Amount) HeaderText="Amount"></GridColumn>
        <GridColumn Field=@nameof(WarehauseDetail.Color) HeaderText="Color"></GridColumn>
        <GridColumn Width="0" AllowAdding="false" AllowEditing="false" Field=@nameof(WarehauseDetail.WarehauseId) HeaderText="WarehauseId"></GridColumn>
        <GridColumn Width="0" AllowAdding="false" AllowEditing="false" Field=@nameof(WarehauseDetail.HotelLinenId) HeaderText="HotelLinenId"></GridColumn>
        <GridColumn HeaderText="Actions" Width="110">
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions()
                { Content="Move To" , CssClass = "e-flat" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>



@code {
    [Parameter]
    public string Id { get; set; }
    private IEnumerable<WarehauseDetail> WarehauseDetails { get; set; }
    private Warehause Warehause { get; set; }
    private LaundryService LastLaundry { get; set; }
    private LaundryService laundry;
    private LaundryServiceDetail laundryServiceDetail;
    private LaundryService CreatedLaundryService { get; set; }
    private string numberToFilter;
    public bool SpinnerVisible { get; set; }
    public SfGrid<WarehauseDetail> warehauseDetailGrid { get; set; }
    string[] pagerDropdown = new string[] { "All", "5", "10", "15", "20" };
    public int DetailId { get; set; }
    public string[] LinenTypesEnumValues = Enum.GetNames(typeof(Models.Type));
    private List<Object> Toolbaritems = new List<Object>() { "Add", "Edit", "Delete", "Update", "Cancel"
        , new ItemModel() {CssClass="specyfic", Text = "Back", TooltipText = "Back", PrefixIcon = "e-click", Id = "Back" } };


    Dictionary<string, object> Item1 = new Dictionary<string, object>()
{
        { "class" , "custom_bold" },
        { "id" , "itemId" }
    };

    protected override async Task OnInitializedAsync()
    {
        SpinnerVisible = true;
        WarehauseDetails = await WarehauseDetailsService.GetWarehauseLinen(int.Parse(Id));
        Warehause = await WarehauseService.GetWarehauseById(int.Parse(Id));
        if (Warehause != null && Warehause.WarehauseType.ToString() == "Magazyn_Brudnej_Bielizny")
        {
            Toolbaritems.Add(new ItemModel() { CssClass = "moveButton", Text = "Move All Linnen To Laundry", TooltipText = "Move To Laundry", PrefixIcon = "e-click", Id = "Move To Laundry" });
        }
        LastLaundry = (await LaundryServiceService.GetAllLaundry()).OrderBy(x => x.Number).Last();
        SpinnerVisible = false;
    }


    protected string DocumentNumerCreator(string str)
    {
        StringBuilder sb = new StringBuilder();
        string docNumber;
        int number = 0;
        if (str == null)
        {
            docNumber = "1";
        }
        else
        {
            var tab = str.Split("/", StringSplitOptions.RemoveEmptyEntries);
            number = int.Parse(tab[0]) + 1;
            docNumber = number.ToString();

        }
        string date = DateTime.Now.ToString("MM/yyyy").Replace(".", "/");

        return sb.Append(docNumber).Append('/').Append(date).ToString();

    }

    public void OnCommandClicked(CommandClickEventArgs<WarehauseDetail> args)
    {

        if (args.CommandColumn.ButtonOption.Content == "Move To")
        {
            navigationManager.NavigateTo($"/partialmove/{args.RowData.Id}");
        }

    }

    public void RowSelectHandler(RowSelectEventArgs<WarehauseDetail> args)
    {
        DetailId = args.Data.Id;
    }
    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {

        if (args.Item.Id == "Back")
        {
            navigationManager.NavigateTo($"/warehauses");
        }

    }

    public async void ActionBeginHandler(ActionEventArgs<WarehauseDetail> args)
    {

        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            //if (args.Action == "Add")
            //{
            //    args.Data.WarehauseId = int.Parse(Id);
            //    await WarehauseDetailsService.CreateDetails(args.Data);
            //    WarehauseDetails = (await WarehauseDetailsService.GetAllDetails()).ToList();
            //    warehauseDetailGrid.Refresh();
            //}
            if (args.Action == "Edit")
            {
                await WarehauseDetailsService.UpdateDetails(args.Data);
            }


        }
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await WarehauseDetailsService.Delete(args.Data.Id);
        }
    }
}
<style>
   /* .specyfic {
        background-color: blue;
    }*/

    
    .specyfic.e-toolbar-item .e-tbar-btn {
        background-color: aqua;
    }
</style>
