@page "/viewWarehauseDetails/{Id}"
@attribute [Authorize]
@inject IWarehauseDetailsService WarehauseDetailsService
@inject IWarehauseService WarehauseService
@inject ILaundryServiceService LaundryServiceService

@if (loading)
{
    <div class="spinner-border spinner-border-sm"></div>
}
@if (warehause != null)
{
    <h3>@warehause.Name nr @warehause.WarehauseNumber</h3>
}

<div class="center">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Color
                </th>
                <th scope="col">
                    Amount
                </th>
            </tr>
        </thead>
        <tbody>

            @if (warehauseDetails != null)
            {
                @foreach (var detail in warehauseDetails)
                {
                    <tr>
                        <th scope="row">@detail.HotelLinenName</th>
                        <td>@detail.Color</td>
                        <td>@detail.Amount</td>
                        @if (warehause.WarehauseType.ToString() != "DirtyLinenWarehause")
                        {
                            <td>

                                <a class="btn btn-primary" href='/partialMove/@detail.Id'>Move</a>
                                @*<a class="btn btn-primary" href='/edithotellinen/@hotelLinen.Id'>Edit</a>  | Delete
                                    <a class="btn btn-danger" @onclick="() => DeleteHotelLinen(hotelLinen.Id)">Delete</a>*@
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="form-group">
        <a class="btn btn-primary" href='/warehauses'>Back</a>
        @if (warehause != null && warehause.WarehauseType.ToString() == "CleanLinenWarehause")
        {
            <a class="btn btn-primary" href='/addLinenToWarehause/@Id'>Add Linen To Warehause</a>
        }
        @*@if (warehause.WarehauseType.ToString() != "DirtyLinenWarehause")
            {
                <a class="btn btn-danger" @onclick="() => MoveToLoundry()">Move To Loundry</a>
            }*@

    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private bool loading;
    private IEnumerable<Models.WarehauseDetail> warehauseDetails;
    private Warehause warehause;
  
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        warehauseDetails = await WarehauseDetailsService.GetWarehauseLinen(int.Parse(Id));
        warehause = await WarehauseService.GetWarehauseById(int.Parse(Id));
        loading = false;
    }
    //protected async Task MoveToLoundry()
    //{
    //    laundry = new LaundryService
    //    {
    //        Name = "Usługa Prania",
    //        Number = 1
    //    };
    //}
    // await LaundryServiceService.CreateLaundry(laundry);
    // }

}
