@page "/Users"
@attribute [Authorize]
@inject IUserService UserService
@inject ICompanyService CompanyService
@*@inject ILocalStorageService LocalStorageService*@

<div class="card mt-4">
    <h4 class="card-header">Users</h4>
    <div class="card-body">
        <h6>Your personal data</h6>
        @if (loading)
        {
<div class="spinner-border spinner-border-sm"></div>}
        @if (user != null)
         {
            <ul>
                <li><strong>First name and last name: </strong> @user.FirstName @user.LastName</li>
                <li><strong>Username:</strong>@user.Username</li>
                <li><strong>Email:   </strong>@user.Email</li>
                <li><strong>Role:    </strong>@user.Permission</li>
                <li><strong>Company: </strong>@company.Name</li>
            </ul>
         }
    </div>
</div>

@code { private bool loading;
    private User user;
    private Company company;
 

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        user = await UserService.GetMe();
        //user = await LocalStorageService.GetItem<User>("user");
        company = await CompanyService.GetCompanyById(user.CompanyId);
        loading = false;
    } }