@page "/Users"
@attribute [Authorize]
@inject IUserService UserService

<div class="card mt-4">
    <h4 class="card-header">Users</h4>
    <div class="card-body">
        <h6>Your personal data</h6>
        @if (loading)
        {
<div class="spinner-border spinner-border-sm"></div>}
        @if (user != null)
         {
            <ul>
                <li>First name and last name: @user.FirstName @user.LastName</li>
                <li>Username : @user.Username</li>
                <li>Email : @user.Email</li>
                <li>Role : @user.Permission</li>

    
            </ul>
         }
    </div>
</div>

@code { private bool loading;
            private User user;

            protected override async Task OnInitializedAsync()
            {
                loading = true;
                user = await UserService.GetMe();
                loading = false;
            } }