@page "/Users"
@attribute [Authorize]
@inject IUserService UserService
@inject ICompanyService CompanyService



@if (SpinnerVisible == true)
{
    <SfSpinner Visible="true" Type="@SpinnerType.Bootstrap4" Size="100" Label="Data loading"></SfSpinner>
}
@if (UserMe != null && UserMe.Company.Name != null)
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>@UserMe.FirstName @UserMe.LastName</h4>
                </div>

                <div class="card-body text-left">
                    <img class="card-img-top mx-auto d-block" style="height:200px; width:150px;" src="@UserMe.PhotoPath" />
                    <ul>
                        <li><b>Username</b> : @UserMe.Username</li>
                        <li><b>Role</b> : @UserMe.Permission</li>
                        <li><b>Emial</b> : @UserMe.Email</li>
                        <li><b>Company</b> : @UserMe.Company.Name</li>
                    </ul>

                </div>
                <div class="card-footer text-center">
                    <a href="/edituserme" class="btn btn-warning">Edit</a>
                    @if (UserMe.Permission.ToString() == "AdminHotel")
                    {
                        <a class="btn btn-danger" @onclick="() => Delete(UserMe.Id)">Delete</a>
                    }
                    <a href="/" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private User UserMe { get; set; }
    public bool SpinnerVisible { get; set; }


    protected override async Task OnInitializedAsync()
    {
        SpinnerVisible = true;
        UserMe = await UserService.GetMe();
        SpinnerVisible = false;
    }

    protected async Task Delete(int id)
    {
        await UserService.Delete(id);
    }

}
