@page "/Usersuy"
@attribute [Authorize]
@inject IUserService UserService
@inject ICompanyService CompanyService
@using Syncfusion.Blazor.Cards
<div class="control-section card-control-section tile_layout">
    <div class='row e-card-layout' style="margin: auto">
        <div>
            @if (User != null)
            {
            <SfCard>
                <CardImage Image="@User.PhotoPath" />
                <CardContent>
                    @if (ShowTable)
                    {
                        <table style="line-height: 2.75em; width: 100%">
                            <tr>
                                <td>
                                    <div class="card-text-value"><b>Name</b></div>
                                </td>
                                <td>
                                    <div class="card-text-value">@User.FirstName @User.LastName </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-text-value"><b>Username</b></div>
                                </td>
                                <td>
                                    <div class="card-text-value">@User.Username</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-text-value"><b>Role</b></div>
                                </td>
                                <td>
                                    <div class="card-text-value">@User.Permission</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-text-value"><b>Email</b></div>
                                </td>
                                <td>
                                    <div class="card-text-value">@User.Email</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="card-text-value"><b>Company</b></div>
                                </td>
                                <td>
                                    <div class="card-text-value">@User.Company.Name</div>
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <table style="line-height: 1.4em;">
                            <tr>
                                <td style="text-align:left">
                                    <CardHeader Title="Typescript"></CardHeader>
                                </td>
                                <td>
                                    <div @onclick="@(() => ShowTable = !ShowTable)">
                                        <span class="e-icons e-collapse"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1">
                                    Microsoft has done extensive work to make JavaScript easier to use. Microsoft TypeScript extends many features of .NET to JavaScript.
                                </td>
                            </tr>
                        </table>
                    }
                </CardContent>
                @if (ShowTable)
                {
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(() => ShowTable = !ShowTable)">Know More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                }
            </SfCard>
            }
        </div>
    </div>
</div>

            

@code {
    private User User { get; set; }
    private bool ShowTable = true;


    protected override async Task OnInitializedAsync()
    {
        User = await UserService.GetMe();
    } }