@*@page "/laundryservices"*@
@*@page "/laundryservices/{PageNumber:int}"*@
@inject ILaundryServiceService LaundryServiceService


<h3>LaundryService</h3>
<div class="center">
    @if (loading)
    {
        <div class="spinner-border spinner-border-sm"></div>
    }
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Service Number
                </th>
                <th scope="col">
                    Recieved Date
                </th>
                <th scope="col">
                    Issued Date
                </th>
                <th scope="col">
                    IsFinished
                </th>
            </tr>
        </thead>
        <tbody>
            @if (laundries != null)
            {
                @foreach (var laundry in laundries)
                {
                    <tr>
                        <th scope="row">@laundry.Name</th>
                        <td>@laundry.Number</td>
                        <td>@laundry.RecievedDate.ToShortDateString()</td>
                        @if (laundry.IssuedDate == default)
                        {
                            <td>Laundry in progress...</td>
                        }
                        else
                        {
                            <td>@laundry.IssuedDate.ToShortDateString()</td>
                        }

                        <td>@laundry.IsFinished</td>
                        <td>
                            <a class="btn btn-primary" href='/viewLaudryServiceDetails/@laundry.Id'>View</a>
                            @*<button type="button" class="btn btn-primary" @onclick="() => Move()">Save</button>*@
                            @*<a class="btn btn-primary" href='/warhause/@warehause.Id'>Edit</a>Delete
                                <a class="btn btn-danger" @onclick="() => DeleteHotelLinen(hotelLinen.Id)">Delete</a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<div>
        @for (int i = 1; i <= (int)Math.Ceiling((decimal)pages/5); i++)
        {
            <span><a href="laundryservices/@i"> @i </a>|</span>
        }
    </div>*@

@code
 {
    //[Parameter]
    //public int PageNumber { get; set; }
    bool loading;
    private IEnumerable<Models.LaundryService> laundries;
    private int pages;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        pages = (await LaundryServiceService.GetAllLaundry()).ToList().Count();
        loading = false;
    }
    //protected override async Task OnParametersSetAsync()
    //{
    //    if (PageNumber < 1) PageNumber = 1;
    //    laundries = await LaundryServiceService.GetAllLaundryPageing(PageNumber,5);
    //}


}
