@page "/companies4"
@attribute [Authorize]
@inject ICompanyService CompService
@inject IRelatedCompaniesService RelatedCompanyService
@inject ILocalStorageService LocalStorageService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

@if (SpinnerVisible == true)
{
    <SfSpinner Visible="true" Type="@SpinnerType.Bootstrap4" Size="100" Label="Data loading"></SfSpinner>
}

<SfToolbar>
    <ToolbarEvents Clicked="ActionBeginHandler"></ToolbarEvents>
    <ToolbarItems>
        <ToolbarItem Id="Edit" Text="Edit" Align="ItemAlign.Left"></ToolbarItem>
        <ToolbarItem Id="Show" Text="ShowRelatedCompanies" Align="ItemAlign.Left"></ToolbarItem>
        <ToolbarItem Text="Back" Align="ItemAlign.Right"></ToolbarItem>
    </ToolbarItems>
</SfToolbar>
@if (Company != null)
{
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th width="20%" scope="row" class="text-center">Company Name</th>
                <td>@Company.Name</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">Street</th>
                <td>@Company.Street</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">Number</th>
                <td>@Company.Number</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">Zip Code</th>
                <td>@Company.ZipCode</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">City</th>
                <td>@Company.City</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">Telefon Number</th>
                <td>@Company.TelefonNumber</td>
            </tr>
            <tr>
                <th width="20%" scope="row" class="text-center">Tax Number</th>
                <td>@Company.TaxNumber</td>
            </tr>
        </tbody>
    </table>
}

@code{
    public Company Company { get; set; }
    public List<Company> Companies { get; set; }
    public int CompanyId { get; set; }
    public bool SpinnerVisible { get; set; }
    private List<Object> Toolbaritems = new List<Object>() { "Add", "Delete", "Update", "Cancel" };



    protected override async Task OnInitializedAsync()
    {
        SpinnerVisible = true;
        CompanyId = (await LocalStorageService.GetItem<User>("userData")).CompanyId;
        Company = await CompService.GetCompanyById(CompanyId);

        SpinnerVisible = false;
    }
    protected void Back()
    {
        navigationManager.NavigateTo("/");
    }
    protected void ShowRelatedCompanies()
    {
        navigationManager.NavigateTo("/relatedCopmapnies");
    }
    public async void ActionBeginHandler(ClickEventArgs args)
    {
        if (args.Item.Id == "Show")
        {
            navigationManager.NavigateTo("/relatedComapnies");

        }
        if (args.Item.Id == "Edit")
        {
            navigationManager.NavigateTo("/editComapnies");
        }
    }
}
<style>
    .e-toolbar-item .e-tbar-btn {
        border: solid;
    }
</style>
