@page "/addWarehause"
@attribute [Authorize]
@inject IWarehauseService WarehauseService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h1>Add Warehause</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="warehause">
                <div class="form-group">

                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind-value="@warehause.Name" />

                    <label for="WarehauseNumber" class="control-label">WarehauseNumber</label>
                    <input for="WarehauseNumber" class="form-control" @bind-value="@warehause.WarehauseNumber" />

                    <label for="CompanyId" class="control-label">CompanyId</label>
                    <input for="CompanyId" class="form-control" @bind-value="@warehause.CompanyId" />

                    <label for="WarehauseType" class="control-label">WarehauseType</label>
                    <InputSelect id="WarehauseType" @bind-Value="@warehause.WarehauseType" class="form-control">
                        
                        
                            @foreach (var w in Enum.GetValues(typeof(WarehauseType)))
                            {
                                <option value="@w">@w</option>
                            }
                        
                    </InputSelect>
                    <input type="hidden" @bind-value="@warehause.Id" />

                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="() => CreateWarehause()">Save</button>
                    <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code{
    private Models.Warehause warehause = new Models.Warehause();


    protected async Task CreateWarehause()
    {
        await WarehauseService.CreateWarehause(warehause);
        navigationManager.NavigateTo("/warehauses");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/warehauses");
    }
}